<style type="text/css">
body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8WpZt07rRlaE6ZTgdzn0trfq6v8tedMwEGGrAv-NU4VSj7FTo);
  background-size: cover;
  background-repeat: no-repeat;
}

.link {
  color: white;
  font-size: 30px;
  background-color: red;
  text-decoration-line: none;
  padding-right: 5px;
  padding-left: 5px;
}

.blog_link {
  color: white;
  font-size: 30px;
  background-color: red;
  text-decoration-line: none;
  padding-right: 5px;
  padding-left: 5px;
  max-width: 120px;
}
</style>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '2424690704282437',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.12'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<h1>Hello, Rails</h1>
<img src="http://placekitten.com/g/1500/300">
<div class="blog_link">
  <%= link_to 'My Blog', controller: 'articles' %>
</div>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<%= link_to "Sign Out", destroy_user_session_path, class: "link", method: :delete %>
